<div class="container">

  <div class="col-xs-12 text-center" id="top-bar">
    <h1> Eat-Da-Burger Homework Assignment 14! </h1>
    <small>Originally just html, some workable routing '/' and other basics, I am revamped the weibsite to be fully intented of the homework assignment months ago.</small><br />
    <small>You can now display all burgers, with lite cssing, create new burgers in an existing table, and consume or update the table. The extra bit is being able to delete something from the table.</small></br>
    <small>If interested, take a look at my github and web profile to see the history of coding, mostly javascript projects I have worked on. 
      <br><br>
    <div class='row'>
      <button class="btn btn-link indent" onclick="window.open('https://github.com/Caromin')">Github</button>
      <button class="btn btn-link indent" onclick="window.open('https://caromin.github.io/Caromin-WebPortfolio/')">Personal Web Portfolio</button>
    </small>
    </div>
  </div>
  </br>

  <div class='row'>
    <div class="col text-center" id='one'class="task">
      <h3>Burgers Not Eaten</h3>
        {{!-- each is a loop through all burger data --}}
        {{#each burger_data}}
        {{!-- unless = if returns a false value --}}
          {{#unless this.devoured}}
            <div style='text-align: left;'>
             <pre>{{this.id}}. {{this.burger_name}}</pre>
            </div>
          {{/unless}}
        {{/each}}
    </div>
  
    <div class="col text-center" id='two' class="task">
      <h3>Burgers Eaten</h3>
      <div class="row"><br /><br />
        {{#each burger_data}}
        {{!-- if = if it returns false, undefined, null, '', 0 , [], it will not render/run --}}
          {{#if this.devoured}}
            <input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
          {{/if}}
        {{/each}}
    </div>
  </div>
  </div>
</div>

<div class="container">
  <div class="row" id='submitRow'>
    <div class="col-xs-12 text-center enter_section">
      <form action="/create" method="POST">
        <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
        <button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
      </form>
      <p>Enter a burger you want to eat Click the "Submit" button.</p>
    </div>
  </div>
</div>

<style>
  #submitRow {
    margin-top: 10px;
    padding-top: 10px;
    background-color: black;
    justify-content: center;
    align-content: center;
    color: white;
  }
</style>